name: Deploy Landing Astro to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Build Astro project
        run: npm run build

      - name: Copy build to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "dist/*"
          target: "/home/${{ secrets.EC2_USER }}/tmp_build"

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo mkdir -p /var/www/client/dist
            sudo rm -rf /var/www/client/dist/*
            sudo mv /home/${{ secrets.EC2_USER }}/tmp_build/* /var/www/client/dist/
            sudo chown -R www-data:www-data /var/www/client/dist
            sudo chmod -R 755 /var/www/client/dist
